
body{
    width: 100%;
    height: 100%;
display: flex;
justify-content: center;
background-image: url(image/br.jpg);
 margin: 0px;  
}
.limite{

height: 100%;
max-width: 1184px;

}

#entete{

    width: 100%;
    height: 10%;
   
   
    
}
#imgentete{
    width: 100%;
    height: 100%;

}

#bar{

    width: 100%;
    height: 30px;
    background-color: rgb(250, 248, 246);
   
    display: flex;
    color: rgb(185, 184, 181);
    font-size: 16px;
    padding: 2px;
}
.vendre{ 
    margin-left: 25px;
    color:#ff9230;
}

.vendre:hover{ text-decoration-line: underline;}
.partiemere{
    height: 10px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-right: 0px;
}
.partie1{

    width: 90px;
    height: 10px;
    display: flex;
    
}


.partie1_1{
   color: rgb(235, 145, 29); 
}

.partie2{

    width: 110px;
    height: 10px;
    display: flex;
    
}
.partie2:hover{
    color: #009af8;
}

.partie3{

    width: 150px;
    height: 10px;
    display: flex;
    
}

.partie3:hover{
    color: rgb(243, 161, 67);
}

#container{
    width: 100%;
    height: 100%;
    display: flex;
    
padding: 8px;
}

#haut{
    width: 100%;
    height: 65px;
    background-color:white;
    margin-top: 10px;
    margin-bottom: 10px;

    border-radius: 3px;

}

.haut1 { width: 100%;
    display: flex;
   

}
.jumo{
    width: 100%;
    background-color: aliceblue;
}
.haut2{
    width: 20%;
    display: flex;
    margin: 5px;
   margin-left: 0px;
   color:#ff9230;
  
}
#imgjumia{
    height: 54px;
    width:250px;

}

.Haut3{

    font-size: 16px;
    padding: 7px;
    padding-top: 4px;
    
    margin-left: 3px;
    margin-right: 3px;
width: 20px;
height: 10px;

    width: 41%;
    display: flex;
    
    
    border: none; }
   

.haut3{
display: flex;
justify-content: center;
    font-size: 21px;
    padding: 0px;
    padding-top: 4px;
    
    margin-left: 0px;
    margin-right: 0px;


    width: 41%;
    display: flex;
    
    
    border: none;
   

  
     }
     .haut4{

        width: 100%;
        display: flex;
        margin: 3px;
      justify-content: right;


        width: 100%;
        display: flex;
       
    }
    form{
        display: flex;
        width: 500px;;

    }
    .rech{
        color: #939393;
        border: solid 1px rgb(209, 205, 205);
        border-radius: 5px; 
        height: 40px; 
        display: flex;
        justify-content: center;
        align-items: center;
    }
#text{
    width:388px ;
    height: 37px;
    border-radius: 5px;
    font-size: 19px;
    border: solid 0px rgb(209, 205, 205);

}
#text:checked{
    border: white;
}


#button{
    height: 40px;
        width:124px;
    
    background-color:#ff9230;
    border-radius: 5px;
    border: solid 1px rgb(209, 205, 205);
   
    color: white;
    box-shadow: 4px 7px 6px rgba(70, 69, 69, 0.13);
    
}

#loupe{ opacity: 0;}
#button:hover{
    background-color: rgb(219, 125, 9);
}
    
#gauche{

    width: 20%;
    height: 428px;
    background-color: rgb(252, 249, 246);
    margin: 10px;
    border-radius: 10px;
}
ul{ font-size: 15px;
font-style: normal;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
list-style: none;
justify-items: left;


}
li{
    display: flex;
}

a:hover{ color:#ff9230;
}



a{ 
    text-decoration: none;
    color: black;
}


#centre{


    width: 76%;
    height: 428px;
    background-color: rgb(248, 177, 83);
    margin: 10px;
    position: relative;

}

.imgcenter{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    transition: opacity .5s;

}

.imgcenter.active{
    opacity: 1;
}
.suivant, .precedant{
    position: absolute;
    color: white;
    font-size: 1.2rem;
    top: 50%;
    cursor: pointer;
    opacity: 0;
    width: 60px;
    height: 43px;
    background-color: rgb(15, 15, 15);
    display: flex;
    justify-content: center;
    padding-top: 1.1rem;
    border-radius:50% ;

}

.suivant:hover{
    opacity: 1;

} 
.precedant:hover{
    
   opacity: 1;
}



.suivant{
    left: 1rem;
    
}
.precedant{
    right: 1rem;
    
}
#droite{
    width: 20%;
    height: 428px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.droite1 {
    margin-bottom: 9px;
    height:49% ;
    width:98% ;
    display: flex;
    flex-wrap: wrap;
   justify-content: left;
   background-color: white;
   border-radius: 15px;
}

.droit a{
    width: 138%;
    height: 46%;
    display: flex;
    gap: 5px;
   
}
.icone{
    margin-top: 20px;
}


.imgdroite{ height:100% ;
width:100% ;
border-radius: 10px;}

.icone{
    height: 30px;
    width: 30px;
}

#bas{

    width: 100%;
    height: 148px;
    display: flex;
    justify-content: center;
    background-color: rgb(252, 251, 248);
}

.bas1{
    
    overflow-x: scroll;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    width: 92%;
    height: 148px;
}
.bas1::-webkit-scrollbar{
    display: none;
}

.button2{
    
    color: white;
    font-size: 0.7rem;
    
    cursor: pointer;
    opacity: 1;
    width: 60px;
    height: 60px;
    background-color: #939393;
    display: flex;
   justify-content: center;
   
    border-radius:50% ;
    padding-top: 15px;
    margin-top: 2.5rem;
    border: solid 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.button2:hover{
    background-color: #666565;
}

.imagebas{
    margin: 5px;
    border-radius: 16px;
    height: 121px;
    width: 119px;
}
.imagebas:hover {
    transform: scale(1.05);
  }


  


  @media(max-width:1024px){

    .limite{ height: 100%;
        max-width: 900px;}
        #bar{height: 17px;}
        #gauche{ height: 300px;}
        #centre{ height: 300px;}
        #droite{ height: 300px;}
        #haut{ height: 42px;}
        .haut3{font-size: 10px;}
        ul{font-size: 9px;}
        .droit{font-size: 9px;}
        #imgjumia{height: 34px; }
        }

  @media(max-width:890px){

    .limite{height: 100%;
        max-width: 800px;}
        #bar{height: 17px;}
        #gauche{ height: 300px;}
        #centre{ height: 300px;}
        #droite{ height: 300px;}
        #haut{ height: 42px;}
        .haut3{font-size: 10px;}
        ul{font-size: 9px;}
        .droit{font-size: 9px;}
        .rech{ width: 300px; 
            height: 29px;}
        #button{height: 29px;}
        .haut2{width: 19%;}
        #imgjumia{ height: 34px;
            width:137px;}
        .brech{ width: 66%;}
        
         }


         @media(max-width:412px){

                body{display: flex;
                justify-content:inherit;}
                .limite{height: 100%;
                max-width: 800px;}
                #bar{height: 17px;
                gap: 23px;}
                #entete{ width: 52%;
                    height: 10%;}
                    .vendre{ 
                        margin-left: 0px; }
                        .partiemere{width: 34%;
                           justify-content:inherit;}

                           #container{
                           
                            display: inherit;
                            
                        
                        }
                #gauche{ height: 242px;
                margin-left: 30px;}
                #centre{ height: 300px;}
                #droite{ height: 300px;
                width: 362px;
            margin-left: 30px;
        display: flex;
    margin-bottom: -139px;}
                #haut{ height: 42px;}
                .haut3{font-size: 10px;}
                ul{font-size: 9px;}
                .droit{font-size: 9px;}
                .rech{ width: 263px; 
                    height: 29px;}
                #button{height: 29px;}
                .haut2{display: none;}
                #imgjumia{display: none;}
                .brech{ width: 66%;}
                
                 }

  @media (max-width:376px){
    body{
    }
    .limite{height: 100%;
    max-width: 375px;
    background: none;}

    .haut4{margin: 2px;}
    #haut{width: 375px;
       height: 80px;
    background-color: #666565;}
    #text{width:292px ;
    height: 42px;
    font-size: 22px;}

    #button{ height: 35px;
        width:41px;
        font-size: 25px;}

    .search{display: none;}
 
     .haut2{ display: none; }

    .haut4{display: flex;
    flex-wrap: wrap;
        margin: 1px;
      
    }
    .haut1{display: flex;
    flex-wrap: wrap;
    width: 100%;
    width: 375px;}
    .haut3{
        margin-right: 41px;
        margin-left: -28px;
       

    }

#fa{display: none;}
#loupe{ opacity: 1;}

    #bar{
        height: 106px;
        width: 375px;
        font-size: 17px;
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
        background-color: rgb(34, 33, 33);
    }

    .vendre{ 
        margin-left: 102px;
        margin-top: 7px;
        margin-bottom: -19px;
        
    }
    
    #imgjumia{ display: none;}
    
    ul{ font-size: 15px; }

    #centre{
        height: 195px;
    width: 375px;
margin: 0px; }
        body{
            width: 375px;
            height: 667px;
           
            margin: 0%;
        }
        
        #droite{ display: none; }
        #gauche{display: none;}
       #container{  width: 100%;
        height: 32%;
        display: flex;
        background-color: rgb(238, 240, 241);
        padding: -2px;
 }
 #imgentete{
    width: 100%;
    height: 52px;

}

.partiemere{
    height: 77px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
  }

  .partie1{

    width: 88px;
    height: 13px;
    display: flex;
    padding: 13px;
    
}

.partie2{

    width: 110px;
    height: 25px;
    
    
}

.imagebas{
    margin: 2px;
    border-radius: 2px;
    height: 85px;
    width: 85px;
}
}
 